body{
    background:url(fondoA.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    background-color:  #a00101;
}

.card-body{
    background-color: #ccd3d8; 
   }
.cerrar{
    color:black;
    background-color:  #ffffff;
    box-shadow:0 0 30px rgba(0, 0, 0, 0.9);
}
